apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: latchkey-system

resources:
  - namespace.yaml
  - crds/latchkeyservers.yaml
  - crds/latchkeytools.yaml
  - crds/latchkeyprincipals.yaml
  - crds/latchkeypolicies.yaml
  - serviceaccounts/gateway.yaml
  - serviceaccounts/operator.yaml
  - rbac/gateway-rbac.yaml
  - rbac/operator-rbac.yaml
  - gateway/deployment.yaml
  - gateway/service.yaml
  - operator/deployment.yaml
  - networkpolicy/default-deny.yaml

labels:
  - pairs:
      app.kubernetes.io/part-of: latchkey
