apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: latchkeytools.latchkey.dev
spec:
  group: latchkey.dev
  names:
    kind: LatchkeyTool
    plural: latchkeytools
    singular: latchkeytool
    shortNames:
      - lkt
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              x-kubernetes-preserve-unknown-fields: true
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
